In [1]:
#Dependancies
import pandas as pd
import matplotlib.pyplot as plt
from us import states
import requests
import us
from census import Census
from Config import (census_key)

In [6]:
### Import CDC Data

cdc_data=pd.read_csv('flupneumo.csv',encoding='utf-8')
type(cdc_data)
cdc_data = cdc_data.loc[cdc_data['geoid'] == "State"]
cdc_data["All Deaths"] = cdc_data["All Deaths"].str.replace(",", "")
cdc_data["All Deaths"] = cdc_data["All Deaths"].astype(float)
cdc_data["Deaths from pneumonia and influenza"] = cdc_data["Deaths from pneumonia and influenza"].str.replace(",", "")
cdc_data["Deaths from pneumonia and influenza"] = cdc_data["Deaths from pneumonia and influenza"].astype(float)


cdc_data

,geoid,Region,State,age,season,MMWR Year/Week,Deaths from influenza,Deaths from pneumonia,Deaths from pneumonia and influenza,All Deaths,Pecent of deaths due to pneumonia or influenza,pecent complete
0,State,NaN,New Hampshire,All,2017-18,201805,NaN,NaN,28.0,286.0,9.790210,143.277643
1,State,NaN,New York City,All,2015-16,201629,NaN,NaN,64.0,972.0,6.584362,97.618498
2,State,NaN,Missouri,All,2009-10,201020,NaN,NaN,84.0,984.0,8.536585,93.231242
4,State,NaN,Kansas,All,2017-18,201820,NaN,NaN,19.0,496.0,3.830645,105.194581
5,State,NaN,Georgia,All,2009-10,201032,NaN,NaN,89.0,1283.0,6.936867,94.671638
...,...,...,...,...,...,...,...,...,...,...,...,...
32600,State,NaN,Michigan,All,2017-18,201825,NaN,NaN,91.0,1825.0,4.986301,108.089765
32601,State,NaN,Vermont,All,2018-19,201909,NaN,NaN,10.0,115.0,8.695652,114.621584
32602,State,NaN,Pennsylvania,All,2017-18,201806,NaN,NaN,232.0,2896.0,8.011050,120.198668
32604,State,NaN,Georgia,All,2017-18,201814,NaN,NaN,94.0,1640.0,5.731707,121.014408
32605,State,NaN,Rhode Island,All,2018-19,201901,NaN,NaN,17.0,190.0,8.947368,104.986252

In [7]:
state_list = cdc_data.loc[cdc_data["State"]=="Florida"]
#state_list = cdc_data.groupby("State").count()
state_list

,geoid,Region,State,age,season,MMWR Year/Week,Deaths from influenza,Deaths from pneumonia,Deaths from pneumonia and influenza,All Deaths,Pecent of deaths due to pneumonia or influenza,pecent complete
283,State,NaN,Florida,All,2014-15,201533,NaN,NaN,190.0,3535.0,5.374823,106.531174
381,State,NaN,Florida,All,2016-17,201648,NaN,NaN,212.0,3917.0,5.412305,118.043171
404,State,NaN,Florida,All,2011-12,201238,NaN,NaN,194.0,3340.0,5.808383,100.654631
417,State,NaN,Florida,All,2012-13,201246,NaN,NaN,181.0,3507.0,5.161106,105.687363
512,State,NaN,Florida,All,2012-13,201331,NaN,NaN,179.0,3301.0,5.422599,99.479323
...,...,...,...,...,...,...,...,...,...,...,...,...
32430,State,NaN,Florida,All,2018-19,201843,NaN,NaN,182.0,3872.0,4.700413,116.687046
32485,State,NaN,Florida,All,2017-18,201816,NaN,NaN,219.0,3925.0,5.579618,118.284260
32527,State,NaN,Florida,All,2017-18,201818,NaN,NaN,182.0,3879.0,4.691931,116.897999
32551,State,NaN,Florida,All,2017-18,201835,NaN,NaN,191.0,3702.0,5.159373,111.563906
32581,State,NaN,Florida,All,2017-18,201836,NaN,NaN,200.0,3667.0,5.454050,110.509142

In [8]:
### Import Census Data
c = Census(census_key, year=2017)
census_data = c.acs5.get(("B19013_001E", "B01003_001E", "B01002_001E", "B15003_002E", "B17001_002E"), {'for': 'state:*'})
census_pd = pd.DataFrame(census_data)
census_pd.dtypes

census_pd['State'] = census_pd['state'].apply(us.states.lookup)
census_pd = census_pd.drop(columns="state")
census_pd = census_pd.rename(columns={"B19013_001E": "Median Household Income",
                                      "B01003_001E": "Population",
                                       "B01002_001E": "Meadian Age",
                                       "B15003_002E": ">25 with No Degree",
                                       "B17001_002E": "People in Poverty",})

census_pd

,Median Household Income,Population,Meadian Age,>25 with No Degree,People in Poverty,State
0,19775.0,3468963.0,40.1,62694.0,1543220.0,Puerto Rico
1,46472.0,4850771.0,38.7,41118.0,849699.0,Alabama
2,76114.0,738565.0,33.9,3451.0,73380.0,Alaska
3,53510.0,6809946.0,37.2,65604.0,1128046.0,Arizona
4,43813.0,2977944.0,37.9,23003.0,524211.0,Arkansas
5,67169.0,38982847.0,36.1,691906.0,5773408.0,California
6,65458.0,5436519.0,36.5,34489.0,612143.0,Colorado
7,73781.0,3594478.0,40.8,25274.0,350783.0,Connecticut
8,77649.0,672391.0,33.9,5141.0,111025.0,District of Columbia
9,63036.0,943732.0,39.8,7723.0,111304.0,Delaware
10,50883.0,20278447.0,41.8,213582.0,3070972.0,Florida
11,52977.0,10201635.0,36.4,91517.0,1679030.0,Georgia
12,74923.0,1421658.0,38.8,10445.0,143148.0,Hawaii
13,50985.0,1657375.0,35.9,10678.0,236000.0,Idaho
14,61229.0,12854526.0,37.7,107965.0,1698613.0,Illinois
15,52182.0,6614418.0,37.5,39437.0,933540.0,Indiana
16,56570.0,3118102.0,38.1,15497.0,361343.0,Iowa
17,55477.0,2903820.0,36.3,17061.0,361285.0,Kansas
18,46535.0,4424376.0,38.6,32245.0,783586.0,Kentucky
19,53024.0,1330158.0,44.3,5211.0,166904.0,Maine
20,46710.0,4663461.0,36.4,38772.0,887574.0,Louisiana
21,74167.0,6789319.0,39.4,65956.0,727546.0,Massachusetts
22,78916.0,5996079.0,38.5,47934.0,566966.0,Maryland
23,52668.0,9925568.0,39.6,72640.0,1510841.0,Michigan
24,65699.0,5490726.0,37.9,42738.0,560995.0,Minnesota
25,42009.0,2986220.0,36.9,26200.0,620007.0,Mississippi
26,51542.0,6075300.0,38.4,33469.0,861679.0,Missouri
27,50801.0,1029862.0,39.8,3264.0,144198.0,Montana
28,56675.0,1893921.0,36.3,13699.0,220330.0,Nebraska
29,71305.0,1331848.0,42.7,5158.0,104470.0,New Hampshire
30,55434.0,2887725.0,37.7,30781.0,405263.0,Nevada
31,76475.0,8960161.0,39.6,81641.0,938252.0,New Jersey
32,46718.0,2084828.0,37.3,18090.0,420293.0,New Mexico
33,62765.0,19798228.0,38.4,268719.0,2908471.0,New York
34,50320.0,10052564.0,38.4,83671.0,1579871.0,North Carolina
35,61285.0,745475.0,35.1,2796.0,79374.0,North Dakota
36,52407.0,11609756.0,39.3,67808.0,1683890.0,Ohio
37,49767.0,3896251.0,36.3,25161.0,612714.0,Oklahoma
38,56119.0,4025127.0,39.2,30325.0,587248.0,Oregon
39,56951.0,12790505.0,40.7,88660.0,1623537.0,Pennsylvania
40,61043.0,1056138.0,39.9,10845.0,136126.0,Rhode Island
41,48781.0,4893444.0,39.0,37167.0,790657.0,South Carolina
42,54126.0,855444.0,36.8,3592.0,114885.0,South Dakota
43,48708.0,6597381.0,38.6,49807.0,1072360.0,Tennessee
44,57051.0,27419612.0,34.3,343605.0,4291384.0,Texas
45,65325.0,2993941.0,30.5,14327.0,324856.0,Utah
46,57808.0,624636.0,42.8,2523.0,68144.0,Vermont
47,68766.0,8365952.0,38.0,69531.0,906838.0,Virginia
48,44061.0,1836843.0,42.2,10439.0,317089.0,West Virginia
49,66174.0,7169967.0,37.6,55780.0,859950.0,Washington
50,60938.0,583200.0,37.0,1346.0,63398.0,Wyoming
51,56759.0,5763217.0,39.2,33447.0,692719.0,Wisconsin

In [9]:
### Question 1 - Which states have the highest rate of death by flu and influenza
#cdc_data["All Deaths"] = cdc_data["All Deaths"].str.extract('(\d+)')
#cdc_data["All Deaths"] = pd.to_numeric(cdc_data["All Deaths"],errors='coerce')
# #cdc_data["Deaths from pneumonia and influenza"] = pd.to_numeric(cdc_data["Deaths from pneumonia and influenza"],errors='coerce')
cdc_data = cdc_data.drop(columns=["Region", "MMWR Year/Week", "Pecent of deaths due to pneumonia or influenza", "pecent complete"])
season = cdc_data.groupby("State").sum()
#season["Death Rate"] = ((season["Deaths from pneumonia and influenza"] / season["All Deaths"])*100).map("{:,.2f}%".format)
season["Death Rate"] = ((season["Deaths from pneumonia and influenza"] / season["All Deaths"])*100)
season=pd.DataFrame(season)
season=season.reset_index()
season.dtypes

State                                   object
Deaths from pneumonia and influenza    float64
All Deaths                             float64
Death Rate                             float64
dtype: object

In [10]:
### Question 2 - Which flu season had the most deaths
clean_data = cdc_data.groupby("season").sum()
clean_data["Death Rate"] = ((clean_data["Deaths from pneumonia and influenza"] / clean_data["All Deaths"])*100).map("{:,.2f}%".format)
clean_data

         Deaths from pneumonia and influenza  All Deaths Death Rate
season
2009-10                             192152.0   2444559.0      7.86%
2010-11                             198253.0   2508625.0      7.90%
2011-12                             185225.0   2494437.0      7.43%
2012-13                             200208.0   2595903.0      7.71%
2013-14                             187417.0   2584499.0      7.25%
2014-15                             201857.0   2757092.0      7.32%
2015-16                             181825.0   2701816.0      6.73%
2016-17                             186575.0   2790566.0      6.69%
2017-18                             195386.0   2833062.0      6.90%
2018-19                              86986.0   1329238.0      6.54%

In [15]:
### Question 3 - Compare death rate to population by state
#merged = season.merge(census_pd,how="right", on="State")
#season = season.reset_index()
merged = pd.merge(census_pd, season ,on ="State", how="left")
#merged = merged.("State").sum()
merged
#season.dtypes

,Median Household Income,Population,Meadian Age,>25 with No Degree,People in Poverty,State,Deaths from pneumonia and influenza,All Deaths,Death Rate
0,19775.0,3468963.0,40.1,62694.0,1543220.0,Puerto Rico,NaN,NaN,NaN
1,46472.0,4850771.0,38.7,41118.0,849699.0,Alabama,NaN,NaN,NaN
2,76114.0,738565.0,33.9,3451.0,73380.0,Alaska,NaN,NaN,NaN
3,53510.0,6809946.0,37.2,65604.0,1128046.0,Arizona,NaN,NaN,NaN
4,43813.0,2977944.0,37.9,23003.0,524211.0,Arkansas,NaN,NaN,NaN
5,67169.0,38982847.0,36.1,691906.0,5773408.0,California,NaN,NaN,NaN
6,65458.0,5436519.0,36.5,34489.0,612143.0,Colorado,NaN,NaN,NaN
7,73781.0,3594478.0,40.8,25274.0,350783.0,Connecticut,NaN,NaN,NaN
8,77649.0,672391.0,33.9,5141.0,111025.0,District of Columbia,NaN,NaN,NaN
9,63036.0,943732.0,39.8,7723.0,111304.0,Delaware,NaN,NaN,NaN
10,50883.0,20278447.0,41.8,213582.0,3070972.0,Florida,NaN,NaN,NaN
11,52977.0,10201635.0,36.4,91517.0,1679030.0,Georgia,NaN,NaN,NaN
12,74923.0,1421658.0,38.8,10445.0,143148.0,Hawaii,NaN,NaN,NaN
13,50985.0,1657375.0,35.9,10678.0,236000.0,Idaho,NaN,NaN,NaN
14,61229.0,12854526.0,37.7,107965.0,1698613.0,Illinois,NaN,NaN,NaN
15,52182.0,6614418.0,37.5,39437.0,933540.0,Indiana,NaN,NaN,NaN
16,56570.0,3118102.0,38.1,15497.0,361343.0,Iowa,NaN,NaN,NaN
17,55477.0,2903820.0,36.3,17061.0,361285.0,Kansas,NaN,NaN,NaN
18,46535.0,4424376.0,38.6,32245.0,783586.0,Kentucky,NaN,NaN,NaN
19,53024.0,1330158.0,44.3,5211.0,166904.0,Maine,NaN,NaN,NaN
20,46710.0,4663461.0,36.4,38772.0,887574.0,Louisiana,NaN,NaN,NaN
21,74167.0,6789319.0,39.4,65956.0,727546.0,Massachusetts,NaN,NaN,NaN
22,78916.0,5996079.0,38.5,47934.0,566966.0,Maryland,NaN,NaN,NaN
23,52668.0,9925568.0,39.6,72640.0,1510841.0,Michigan,NaN,NaN,NaN
24,65699.0,5490726.0,37.9,42738.0,560995.0,Minnesota,NaN,NaN,NaN
25,42009.0,2986220.0,36.9,26200.0,620007.0,Mississippi,NaN,NaN,NaN
26,51542.0,6075300.0,38.4,33469.0,861679.0,Missouri,NaN,NaN,NaN
27,50801.0,1029862.0,39.8,3264.0,144198.0,Montana,NaN,NaN,NaN
28,56675.0,1893921.0,36.3,13699.0,220330.0,Nebraska,NaN,NaN,NaN
29,71305.0,1331848.0,42.7,5158.0,104470.0,New Hampshire,NaN,NaN,NaN
30,55434.0,2887725.0,37.7,30781.0,405263.0,Nevada,NaN,NaN,NaN
31,76475.0,8960161.0,39.6,81641.0,938252.0,New Jersey,NaN,NaN,NaN
32,46718.0,2084828.0,37.3,18090.0,420293.0,New Mexico,NaN,NaN,NaN
33,62765.0,19798228.0,38.4,268719.0,2908471.0,New York,NaN,NaN,NaN
34,50320.0,10052564.0,38.4,83671.0,1579871.0,North Carolina,NaN,NaN,NaN
35,61285.0,745475.0,35.1,2796.0,79374.0,North Dakota,NaN,NaN,NaN
36,52407.0,11609756.0,39.3,67808.0,1683890.0,Ohio,NaN,NaN,NaN
37,49767.0,3896251.0,36.3,25161.0,612714.0,Oklahoma,NaN,NaN,NaN
38,56119.0,4025127.0,39.2,30325.0,587248.0,Oregon,NaN,NaN,NaN
39,56951.0,12790505.0,40.7,88660.0,1623537.0,Pennsylvania,NaN,NaN,NaN
40,61043.0,1056138.0,39.9,10845.0,136126.0,Rhode Island,NaN,NaN,NaN
41,48781.0,4893444.0,39.0,37167.0,790657.0,South Carolina,NaN,NaN,NaN
42,54126.0,855444.0,36.8,3592.0,114885.0,South Dakota,NaN,NaN,NaN
43,48708.0,6597381.0,38.6,49807.0,1072360.0,Tennessee,NaN,NaN,NaN
44,57051.0,27419612.0,34.3,343605.0,4291384.0,Texas,NaN,NaN,NaN
45,65325.0,2993941.0,30.5,14327.0,324856.0,Utah,NaN,NaN,NaN
46,57808.0,624636.0,42.8,2523.0,68144.0,Vermont,NaN,NaN,NaN
47,68766.0,8365952.0,38.0,69531.0,906838.0,Virginia,NaN,NaN,NaN
48,44061.0,1836843.0,42.2,10439.0,317089.0,West Virginia,NaN,NaN,NaN
49,66174.0,7169967.0,37.6,55780.0,859950.0,Washington,NaN,NaN,NaN
50,60938.0,583200.0,37.0,1346.0,63398.0,Wyoming,NaN,NaN,NaN
51,56759.0,5763217.0,39.2,33447.0,692719.0,Wisconsin,NaN,NaN,NaN

In [ ]:
### Question 4 - Compare death rate to average household income by state